#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.pokedex {
  width: 60%; 
  margin: 0 auto; 
}

/* Pokemon card component styling */
.pokemon-card {
  padding: 1rem;
  padding-top: 0.2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-img {
  width: 5rem;
  height: 5rem;
  
}
.pokemon-name {
  text-transform: capitalize;
  font-size: 1.9rem;
  font-weight: bold;
}
.type-badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.grass    { background-color: #78C850; }
.fire     { background-color: #F08030; }
.water    { background-color: #6890F0; }
.bug      { background-color: #A8B820; }
.electric { background-color: #F8D030; }
.poison   { background-color: #A040A0; }
.rock     { background-color: #B8A038; }
.ice      { background-color: #98D8D8; }
.psychic  { background-color: #F85888; }
.dragon   { background-color: #7038F8; }
.fairy    { background-color: #EE99AC; }
.flying   { background-color: #A890F0; }
.dark     { background-color: #705848; }
.fighting { background-color: #C03028; }
.ghost    { background-color: #705898; }
.steel    { background-color: #B8B8D0; }
.normal   { background-color: #A8A878; }
.ground   { background-color: #E0C068; }

.pokemon-id{
  color:black;
}

/* App styling */
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1rem; 
}
.pagination-container {
  margin-top: 20px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

